@import "./colors";

/*Basic styles */
html,
body {
  min-height: 100%;
}
html {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}

/* typography */
h1 {
  font-size: 18px;
  margin: 0;
  color: $grey;
}

/* PDF Document */
.pdfDoc {
  position: absolute;
  left: 20px;
  bottom: 10px;
  display: block;
  .docSize {
    color: $lightGrey;
    font-weight: 400;
  }
  .pdfIcon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../assets/icons/icon-download.svg");
  }
}
/* Arrow Icons */
.arrow {
  right: 0px;
  bottom: 0px;
  text-align: right;
  width: 50px;
  height: 50px;
  align-self: flex-end;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &.down {
    background-image: url("../assets/icons/icon-down.svg");
  }

  &.right {
    background-image: url("../assets/icons/icon-right.svg");
  }
  &.featured-icon-right {
    background-color: $darkGreen;
    background-image: url("../assets/icons/featured-icon-right.svg");
  }
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

/* Normal cards */
.card {
  min-height: 100%;
  background: white;
  border: solid 1px $greyBorder;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
  article {
    padding: 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
  }

  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }

  p {
    flex: 1; /* make p grow to fill available space*/
    line-height: 1.4;
  }

  span {
    font-size: 12px;
    font-weight: bold;
    color: $lightGrey;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
  }
}

/* Featured card */

div[featured="true"] {
  .card {
    background: #43cea2; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #185a9d,
      #43cea2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #185a9d,
      #43cea2
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    h1,
    .description,
    .category {
      color: $white;
    }
    .description {
      font-weight: 400;
    }
  }
}

/* Media queries */

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
  .item-1 {
    grid-column: 1 / span 2;
  }
  .item-1 h1 {
    font-size: 26px;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
